[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vendor/libspng"]
	path = vendor/libspng
	url = https://github.com/randy408/libspng
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
